{% extends "main/header.html" %}
{% block content %}
        <div id="row">     
            {%for tut in tutorials %}
            <div class="col-sm">           
                <div class="card" style="width: 18rem;">                    
                    <div class="card-body">
                    <h5 class="card-title">{{tut.tutorial_title}}</h5>
                    <p class="card-text">{{tut.tutorial_published}}</p>
                    <p class="card-text">{{tut.tutorial_content|safe}}</p>
                    <a href="#" class="btn btn-primary">Get Coding!</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
{% endblock %}        





